
@{
    ViewBag.Title = "Index";
}

<h2>
    Below are projects I have completed throughout my college career that show the skills I have learned throughout the years.
</h2>

<div class="Projects">
    <h3>1. Database Project</h3>
    <h4>
        I worked with a group throughout the semester, working on creating an ERD for a client created by my professor.
        We were able to create an ERD along with create an entire database that was accessible through SequalServer. It showed
        the businesses orders, customers, shipping, and many more functions the company performed.
    </h4>

    <h3>2. Programming 1 Projects</h3>
    <h4> - Learning loops and for statements</h4>
    <h4> - Learning how to use GitHub repositories</h4>
    <h4> - Being able to run calculations with user inputs</h4>
    <h4> - Creating classes and using them when receiving user input.</h4>

    <h3>3. Programming 2 Projects</h3>
    <h4> - Learning how to use API's and retrieve that information</h4>
    <h4> - Learning how to create WPF applications</h4>
    <h4> - Using HTML to create WebPages like this one</h4>

    <h3>4. Field Project Course</h3>
    <h4>
        I worked with a group selected from my professor. We were able to work with a client at the FAA in order to curate information
        for the FAA Academy about the Commercial Space Industry. This project allowed me to take on the role of a project manager,
        being able to lead my team through client meetings and presentations. We curated a report with new information about up and
        coming technology and presented on it to our client. This information will continue on for semesters as this client enjoyed
        working with our class and hopes to extend the project in further semesters.
    </h4>
</div>

