@model Personal_Website.BundleConfig

@{
    ViewBag.Title = "Index";
}

<div class="jumbotron">
    <h1>About Me</h1>
    <p>My name is Kylie Merz, I am a Senior at The University of Oklahoma pursuing a degree in MIS. 
    I am originally from Dallas, Texas and plan to live there after graduation. 
    I will graduate the spring of 2022 with my undergrad degree followed by December 2022, graduating with my Masters of MIS.
    I am pursuing a career in the Cyber Security sector and hope to advance my knowledge once joining the workforce.</p>
    <p><a class="btn btn-primary btn-lg" href="#" role="button"> Learn More</a></p>

</div>

<div class="Image">
    <image src="https://pbs.twimg.com/profile_images/990238691347124225/2nIPZSBo_400x400.jpg"/>
</div>

