
@{
    ViewBag.Title = "Index";
}

<h1>Skill Sets</h1>

<div class="Hardskills">
    <h2>Hard Skills</h2>
    <h3>1. SQL</h3>
    <h5>
        I am able to code in SQL, I learned this skill from my database class. I was able to use SQL to retrieve
        information from different databases about specific companies.
    </h5>

    <h3>2. C#</h3>
    <h5>
        I am able to code in C#, during my two programming classes I have learned the basics of coding with C#. With this
        knowledge, I am able to understand different opensource examples and implement it into my basic coding.
    </h5>

    <h3>3. Excel</h3>
    <h5>
        I am able to use Excel at a high level. I have taken a course that taught us all about the different abilities of 
        Excel. I was able to learn many different financial formulas, how to use solver, create readible graphs, and many more things.
    </h5>
</div>
<div class="Softskills">
    <h1>Soft Skills</h1>
    <ul>
        <li>Communication</li>
        <li>Public Speaking</li>
        <li>Problem Solving</li>
        <li>Teamwork</li>
        <li>Critical Thinking</li>
    </ul>
</div>

