
@{
    ViewBag.Title = "Index";
}

<h2>Contact Me</h2>
<div class="contactme">
    <ul>
        <li><a target="_blank" href="https://www.linkedin.com/in/kylie-merz-537a3b174">LinkedIn</a></li>
        <li><a target="_blank" href="https://www.instagram.com/kylie_merz5/">Instagram</a></li>
        
        <h5>Email: kmerz@ou.edu</h5>
    </ul>
</div>

