
@{
    ViewBag.Title = "Index";
}

<link rel="stylesheet" href="stylesheet1"/>
<h2></h2>


<div>
    <img src="https://images.squarespace-cdn.com/content/565cadb5e4b0c6e18e55e83e/1490298248790-ZXJ3U99HOJ6X89V32MKV/km_logo_v2.png?format=1000w&content-type=image%2Fpng" class="card-img-top" alt="">
</div>

<div>
    Welcome to my website! I have procured this together to show my accomplishments throughout college.
</div>
